.row
    max-width: $grid-width
    margin: 0 auto


    &:not(:last-child)
        margin-bottom: $gutter-vertical


    @include clearfix

    
    [class^="col-"]
        float: left

        &:not(:last-child)
            margin-right: $gutter-horizontal

    
    .col-1-of-2
        width: col-width(1, 2)


    .col-1-of-3
        width: col-width(1, 3)


    .col-1-of-4
        width: col-width(1, 4)


    .col-2-of-3
        width: col-width(2, 3)


    .col-2-of-4
         width: col-width(2, 4)


    .col-3-of-4
         width: col-width(3, 4)

    .col-1-of-1
         width: col-width(1, 1)
