
*,
*::after,
*::before 
    margin: 0
    padding: 0
    box-sizing: inherit

    
html 
    //This define what 1rem is
    font-size: 62.5% // 16px (Browser root size) / 100% = 62.5% */ 


body 
    box-sizing: border-box