
body 
    font-family: "Lato", sans-serif
    font-weight: 400
    line-height: 1.7
    color: $color-grey
    padding: 3rem
    
.heading-primary   
    color: $color-white
    text-transform: uppercase
    margin-bottom: 6rem

    // Fixing animation
    backface-visibility: hidden

    &--main
        font-size: 6rem
        font-weight: 400
        letter-spacing: 3.5rem
        display: block

        animation: moveInLeft 1s ease-out

    &--sub
        display: block
        font-size: 2rem
        font-weight: 700
        letter-spacing: 1.75rem
        
        animation: moveInRight 1s ease-out

.heading-secondary
    font-size: 3.5rem
    text-transform: uppercase
    font-weight: 700    
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark)  
    display: inline-block    
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    letter-spacing: 2px
    transition: all .2s

    &:hover
        transform: skewY(2deg) skewX(15deg) scale(1.1)
        text-shadow: .5rem 1rem 2rem rgba($color-dark, .2) 